.article-preview {
    padding: 0.15rem;
    border-radius: 30px;
}

.article-preview a {
    text-decoration: none;
}

.article-preview:hover {
    box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.1);
}

.article-preview h2 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 8px;
}

.article-content {
    background-color: white;
    border-radius: 25px;
}

.vote-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Aligns items vertically in the center */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .vote-and-image {
        flex-direction: column;
        /* Stacks elements vertically */
        align-items: flex-start;
        /* Aligns items to the start */
    }

    .vote-and-image img {
        margin-top: 10px;
        /* Adds spacing between vote and image */
        width: 100%;
        /* Ensures image is responsive */
        height: auto;
        /* Maintains aspect ratio */
    }
}

p {
    text-decoration: none;
    color: black;
    font-size: 20px;
}