.api-docs {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.api-docs h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.api-docs h5 {
    margin-top: 20px;
}

.api-docs ul {
    list-style-type: none;
    padding: 0;
}

.api-docs li {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.api-docs li strong {
    color: whitesmoke;
    padding: 3px;
    border-radius: 10px;
}

.api-docs pre {
    color: black;
    background-color: #ffc0ad;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow-x: auto;
}