.navbar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 3px solid #000000;
}

.navbar h1 {
    font-size: 3em;
    background: linear-gradient(to right,
            rgb(4, 151, 184),
            rgb(27, 175, 27),
            rgb(219, 219, 62),
            rgb(230, 180, 86),
            rgb(231, 105, 126));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}