.single-article-view {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(35, 17, 71, 0.1);
}

.single-article-view h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.single-article-view img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 20px;
}

.content {
    margin:20px; 
}

@media (min-width: 768px) {
    .single-article-view img {
        width: 50%;
        max-width: 600px;
    }
}

.article-details {
    display: flex;
    align-items: left;
    gap: 12px;
    flex-wrap: nowrap;
    font-size: 12px;
}

@media (max-width: 768px) {
    .article-details {
        font-size: 10px;
        flex-direction: column;
    }
}

.spinner {
    border: 4px solid transparent;
    border-top: 4px solid red;
    border-right: 4px solid green;
    border-bottom: 4px solid blue;
    border-left: 4px solid yellow;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}