@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand";
  background-color: #55423d;
  margin: 0;
  color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #fffffe
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.article-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.article-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.article-preview h2 {
  font-size: 20px;
  color: #fffffe;
  margin-bottom: 8px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}