@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand";
  background-color: #55423d;
  margin: 0;
  color: white;
}

body {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.content {
  margin: 40px auto;
  padding: 20px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.api-docs {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.api-docs h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.api-docs h5 {
  margin-top: 20px;
}

.api-docs ul {
  list-style-type: none;
  padding: 0;
}

.api-docs li {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.api-docs li strong {
  color: whitesmoke;
  padding: 3px;
  border-radius: 10px;
}

.api-docs pre {
  color: black;
  background-color: #ffc0ad;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .single-article-view img {
    width: 50%;
    max-width: 600px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}